
*.zip

python-implementation/venv/

python-implementation/\.idea/

python-implementation/src/generator/__pycache__/

2018-09-04-14-25-00_GUDHI_2\.3\.0/

*.gz

python-implementation/src/randology/__pycache__/

*.html

pseudo-random-sequences/

end-to-end-latex/

*.pyc

/dist/

/*.egg-info

python-implementation/src/randology\.egg-info/

/random-org-seq/

pseudorandom-sequences/

*.txt

*.json
